<%= form_with model: @product do |form| %>
  <div class="field">
    <label class="label"><%= form.label :description %></label>
    <%= form.text_field :description, class: "input" %>
  </div>
  
  <div class="field">
    <%= form.label :bulk %>
    <%= form.file_field :bulk, multiple: true %> 
  </div>

  <div class="actions">
    <%= form.submit "Add images", class:"button is-primary"%>
  </div>
<% end %>
