<%= render 'navbar' %>

<div class="bulk-page">
<% @product.each do |product| %>
  <% if product.bulk.attached? %>
  <div class="column is-one-quarter">
    <div class="card" >
      <div class="card-image">
        <figure class="image is-4by3">
          <div class="bulk-page">
            <div class="bulk">
                  <%= image_tag product.bulk.first, class: "bulk-show-products" %>
            </div>
          </div>  
        </figure>
      </div>
        <div class="card-content">
          <div class="content">
            <ul>
              <p><span><%= product.description %></span></p>
            </ul>  
          </div>
        </div>
      <footer class="card-footer">
        <%= link_to 'Show' , product, class: "card-footer-item" %>
        <%= link_to 'Add images', edit_product_path(product), class: "card-footer-item" %>
        <%= link_to 'Delete', 
             product_path(product), 
              method: :delete, class: "card-footer-item bulk"
        %>
      </footer>
    </div>
  </div>
  <% end%>
<% end %>

</div>



